body{

font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.leftnav{
    display: flex;
    gap: 7px
    ;
    position: relative;
    bottom: 10px;

}

.year{
    position: relative;
    bottom: 14px;
}
.name{
font-size: 18px;   
 font-weight: bolder;
   
}
.icon{
height: 25px;
width: 25px;
position: relative;
top: 27px;
}

.middlenav a{
text-decoration: none;
color: grey;
padding: 13px 0px;
font-size: smaller;
}
.middlenav{
    display: flex;
    flex-direction: row;
    gap: 20px
    ;
}
.rightnav{
    position: relative;
    top: 10px;

}
.btn{
    border: solid 2px black;
    padding: 10px 30px;
    border-radius: 9px;
    text-decoration: none;
    background-color: #1D4ED8;
    color: white;
   font-size: smaller;
   font-weight: bolder;
}

/* banner */
.banner{
    height: 100vh;
    width: 100vw;

    background: url(./assets/banner.jpg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    color: white;
z-index: 2;
}
.topsidebanner h1{
    font-size: 56px;
}
.ban-content{
    width: 39%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}
.overlay
 {
    position: absolute;
  height: 100%;
  width: 100%;
    background: black;
    opacity: 0.6;
    z-index: 0;
}
.bottomban button{
    width: 180px;
    height: 50px;
    border: none;
}


